<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sistema de Registro para Torneos de Dota 2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<br> <br>

<body>
    <div class="container">
        <h1> Sistema de Registro para Torneos de Dota 2</h1>
        <hr>
        <h3> Nuevo Jugador </h3>

        <form action="#" th:action="@{/saveJugador}" th:object="${jugador}" method="POST">
            <input type="text" th:field="*{firstName}" placeholder="Usuario" class="form-control mb-4 col-4">

            <input type="number" th:field="*{dniDotero}" placeholder="DNI Dotero" class="form-control mb-4 col-4">
            <label>Heroe:</label><br />
            <select th:field="*{heroe}">
                <option th:each="heroe : ${listHeroes}" th:value="${heroe.id}" th:text="${heroe.nameHero}"></option>
            </select><br />
            <label>Equipo:</label><br />
            <select th:field="*{equipo}">
                <option th:each="equipo : ${listEquipos}" th:value="${equipo.id}" th:text="${equipo.name}"></option>
            </select><br />

            <label>Torneo:</label><br />
            <select th:field="*{torneo}">
                <option th:each="torneo : ${listTorneos}" th:value="${torneo.id}" th:text="${torneo.name}"></option>
            </select><br />
            <button type="submit" class="btn btn-info col-2"> Registrar </button>

        </form>

        <hr>

        <a th:href="@{/}"> Regresar a la lista de Jugadores </a>

    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>