<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sistema de Registro para Torneos de Dota 2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<br> <br>

<body>
<div class="container">
    <h1>Nuevo Héroe</h1>
    <hr>
    <form th:action="@{/heroes}" th:object="${heroe}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nameHero">Nombre del Héroe</label>
            <input type="text" id="nameHero" name="nameHero" class="form-control" th:field="*{nameHero}">
        </div>
        <div class="form-group">
            <label for="image">Imagen</label>
        <input type="file" id="image" name="newImageFile" class="form-control">
        </div>
        <button type="submit" class="btn btn-info">Agregar</button>
    </form>
    
    <hr>
    
    <a th:href="@{/heroes}">Regresar a la lista de Héroes</a>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>